<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaNexus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaNexus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MediaNexus.Properties.Settings>
            <setting name="savedLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="savedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="isDarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
        </MediaNexus.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MediaNexus.Properties.Settings>
            <setting name="DefaultImageURL" serializeAs="String">
                <value>https://ih1.redbubble.net/image.1066412296.0216/fposter,small,wall_texture,product,750x1000.u4.jpg</value>
            </setting>
        </MediaNexus.Properties.Settings>
    </applicationSettings>
</configuration>